.user-details-container {
  margin-left: auto;
  width: 40%;
  margin: auto;
  background: #dadadabe;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 3px 3px 10px rgba(123, 122, 122, 0.777), -3px -3px 10px  rgba(227, 227, 227, 0.963);
}

.user-details-container h2 {
  text-align: center;
  margin-bottom: 25px;
}

.detail-item {
  margin-bottom: 2em;
  border-bottom: 1px solid rgb(188, 187, 187);
}

.detail-item strong {
  display: inline-block;
  width: 150px;
  color: #333;
}

.detail-value {
  color: #555;
}